<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Pagina medicala despre ortodontie, aparate dentare si alte servicii conexe. Doctor Alexandra Gavrilescu va povesteste despre cele mai noi si performante procedee ortodontice.">
<meta name="author" content="">
<title>Pagina medicala despre ortodontie si aparate dentare | Dr. Alexandra Gavrilescu</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/font-awesome.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="js/ga.js" type="text/javascript"></script>

<!-- function to alternate colors for sections -->
<script type="text/javascript" src="js/alternate.js"></script>

</head>
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#page-top">
        <h2 class="logo-brand">ORTODONTIE.<span class="logo">INFO</span></h2>
        </a> 
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          
          <li class="hidden"> <a href="#page-top"></a> </li>
          
          <li class="page-scroll"> <a href="../index.html#preturi" onClick="ga('send', 'event', 'Meniu', 'Preturi', 'LP1');">PRE&#x21A;URI</a> </li>
          <li class="page-scroll"> <a href="../index.html#contact" onClick="ga('send', 'event', 'Meniu', 'Contact', 'LP1');">VINO LA CONSULTA&#x21A;IE</a> </li>
          <li> <a href="despre-win.html" onClick="ga('send', 'event', 'Meniu', 'Tratament', 'LP1');">MAI MULTE DESPRE WIN</a> </li>
          <li> <a class="md" href="alexandra-gavrilescu.html" onClick="ga('send', 'event', 'Meniu', 'Doctor', 'LP1');">MEDIC</a> </li>
          </li>
        </ul>
      </div> 

      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
</div>

</section>



<!-- about close -->
<section id="doctor" style = "margin-top:70px;"><!-- doctor section start -->
  <div class="container">
    <div class="row page-scroll">
      
      
      <h1 >Dr. Alexandra MANESCU</h1> <br/>
        <h3 >Medic specialist - Ortodon&#x21B;ie &#x15F;i ortopedie dento-facial&#x103;  </h3>
        <p >Reziden&#x21B;iat - specializarea Ortodon&#x21B;ie &#x15F;i ortopedie dento-facial&#x103;  <br/>
          Membru Societatea European&#x103; de Ortodon&#x21B;ie (EOS)
        </p>
        <h3 > Cursuri &#x15F;i congrese </h3>
        <p >
          <ul>
          <li  >Congres EOS (Slovenia) Curs "Biomechanical Aspects in Orthodontic Treatment" - Prof. Andrea Wichelhaus </li>
        <li  >Curs "Micro­Implant Anchorage (MIA) For Orthodontic Treatment ­ Dr. Hyo­Sang Park,</li>
        <li >Curs - FACE University Alpe Adria Continuing Orthodontic Education</li>
        <li >Curs Certificare "Invisalign"</li>
      </ul>
        <a href="http://ortodontie.info/LandingPage/CVAlexandraGavrilescu.pdf" target="_blank" onClick="ga('send', 'event', 'ButonCV', 'ClickCV', 'LP1');"> <strong >Vezi CV-ul complet. </strong> </a> </p>
      </div>

    <div class="row page-scroll">      
        <a class="btn btn-default btn-orange" href="#contact" onClick="ga('send', 'event', 'ButonPagina', 'ClickIntalnire1', 'LP1');">VINO LA CONSULTA&#x21A;IE</a>
    </div>  
      
    </div>
  


</section>



<div class="footer">
  <div class="container">
    <div class="row ft">
      <div class="col-md-9">
        <p> © Copyright 2015. <!--Template by Wealth.life --> Ortodontie.info</p>
      </div>
      
      
    </div>
  </div>
</div><!-- footer section close -->

<!-- Core JavaScript Files --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.easing.min.js"></script> 
<!-- Custom Theme JavaScript --> 
<script src="js/scrolling-nav.js"></script> 


</body>
</html>
