<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Pagina medicala despre ortodontie, aparate dentare si alte servicii conexe. Doctor Alexandra Gavrilescu va povesteste despre cele mai noi si performante procedee ortodontice.">
<meta name="author" content="">
<title>Comparatie intre aparatul WIN si Incognito | Dr. Alexandra Gavrilescu</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/font-awesome.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="js/ga.js" type="text/javascript"></script>
<!-- function to alternate colors for sections -->
<script type="text/javascript" src="js/alternate.js"></script>

</head>
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#page-top">
        <h2 class="logo-brand">ORTODONTIE.<span class="logo">INFO</span></h2>
        </a> 
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          
          <li class="hidden"> <a href="#page-top"></a> </li>
          
          <li class="page-scroll"> <a href="../index.html#preturi" onClick="ga('send', 'event', 'Meniu', 'Preturi', 'LP1');">PRE&#x21A;URI</a> </li>
          <li class="page-scroll"> <a href="../index.html#contact" onClick="ga('send', 'event', 'Meniu', 'Contact', 'LP1');">VINO LA CONSULTA&#x21A;IE</a> </li>
          <li> <a href="despre-win.html" onClick="ga('send', 'event', 'Meniu', 'Tratament', 'LP1');">MAI MULTE DESPRE WIN</a> </li>
          <li class="page-scroll"> <a href="alexandra-gavrilescu.html" onClick="ga('send', 'event', 'Meniu', 'Doctor', 'LP1');">MEDIC</a> </li>
          </li>
        </ul>
      </div> 

      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
</div>

</section>



<!-- about close -->
<section id="despre-win" style="margin-top:70px;">
   <div class="container">
  
    
        <div class="row" >
          
        <h1 >Win vs. Incognito</h1>
        <p >Tratamentul ortodontic este o investi&#x21B;ie de care te vei bucura toat&#x103; via&#x21B;a. <br/> Dureaz&#x103; aproximativ 24 de luni &#x15F;i po&#x21B;i alege s&#x103; pl&#x103;te&#x15F;ti integral la &#xEE;nceput sau &#xEE;n rate. </p> 

          <div class="col-md-6">
             <img src="image/metalic_brackets2.jpg" alt="Aparat ortodontic din metal"><br/> <br/>
            <h3 >Aparat Fix Metalic</h3>
            <p ><strong>Plata integral&#x103;</strong><br/>
            999RON <span style="text-decoration: line-through;"> (1.999RON)</span> /arcad&#x103; + 75RON/arcad&#x103;/lun&#x103;. <br/>
          </div>
          
          <div class="col-md-6">
            <img src="image/saphire_brackets2.jpg" alt="Aparat ortodontic din safir"><br/> <br/>
             <h3 >Aparat Fix Safir</h3>
             <p ><strong>Plata integral&#x103;</strong> <br/>
             1.999RON <span style="text-decoration: line-through;">(3.999RON)</span>/arcad&#x103; + 75RON/arcad&#x103;/lun&#x103;.<br/>
          </div>
         

    <br/> 
  </div>

    <div class="row page-scroll">

      
      
        <a class="btn btn-default btn-orange" href="#contact" onClick="ga('send', 'event', 'ButonPagina', 'ClickIntalnire1', 'LP1');">VINO LA CONSULTA&#x21A;IE</a>
     
    </div>  

  </div>
</section>



<div class="footer">
  <div class="container">
    <div class="row ft">
      <div class="col-md-9">
        <p> © Copyright 2015. <!--Template by Wealth.life --> Ortodontie.info</p>
      </div>
      
      
    </div>
  </div>
</div><!-- footer section close -->

<!-- Core JavaScript Files --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.easing.min.js"></script> 
<!-- Custom Theme JavaScript --> 
<script src="js/scrolling-nav.js"></script> 


</body>
</html>
